<div appCypressData="dualValueToggleFacet">
  <onto-search-facet (onSelectionChange)="onSelectionChanged($event)"
                     [data]="groupModel"
                     [type]="toggleFacetType"
                     [facetTemplate]="template"
                     [facetTitleTemplate]="titleTemplate"></onto-search-facet>
</div>

<div appCypressData="singleValueToggleFacet">
  <onto-search-facet (onSelectionChange)="onSelectionChanged($event)"
                     [data]="groupModelSingleValue"
                     [type]="toggleFacetType"
                     [facetTemplate]="template"
                     [facetTitleTemplate]="titleTemplate"></onto-search-facet>
</div>
<div *ngIf="selectedFilter?.selected?.length">
  <div appCypressData="toggle-facet-selection">{{selectedFilter.selected[0].label + ' - ' + selectedFilter.count}}</div>
  <div appCypressData="toggle-facet-selection-value">{{selectedFilter.selected[0].selected}}</div>
</div>

<ng-template #titleTemplate let-context>
  <div appCypressData="template-title">{{context}}</div>
</ng-template>
<ng-template #template let-context>
  <div appCypressData="template-data">Selected: {{context?.label + ' - ' + context?.count}}</div>
</ng-template>
