<onto-search-facet
  [data]="data"
  [type]="type"
  [facetTitleTemplate]="facetTitleTemplate"
  [facetTemplate]="checkboxFacetTemplate"
  (onSelectionChange)="onSelectedEvent($event)">
</onto-search-facet>

Selected:
<div appCypressData="facet-list">
  <span *ngFor="let facet of selection?.selected; let index = index">
    <div [attr.appCypressData]="'facet-selection-' + index">{{facet.label}}</div>
  </span>
</div>

<button appCypressData="deselect-button" (click)="deselect()">DESELECT</button>

<ng-template #checkboxFacetTemplate let-item>
  <span class="facet-label">{{item.label}}</span>
  <span class="facet-count">({{item.count}})</span>
</ng-template>

<ng-template #facetTitleTemplate let-title>
  <div class="checkbox-facet-title">
    <strong>{{title}}</strong>
  </div>
</ng-template>
