<div appCypressData="selected-facets-min">{{getSelectedRangeStart()}}</div>
<div appCypressData="selected-facets-max">{{getSelectedRangeEnd()}}</div>

<onto-search-facet *ngIf="data"
                   [data]="data"
                   [type]="type"
                   [facetTitleTemplate]="facetTitleTemplate"
                   [facetTemplate]="basicFacetTemplate"
                   (onSelectionChange)="onSelectedEvent($event)">
</onto-search-facet>

<ng-template #facetTitleTemplate>
  <div class="basic-facet-title">
    <strong>{{data?.facetGroupName}}</strong>
  </div>
</ng-template>

<ng-template #basicFacetTemplate let-item let-sum="sum">
  <div class="selected-sum" appCypressData="selected-sum">Selected: {{sum}}</div>
  <div class="selected-min" appCypressData="selected-min">Selected min: <span appCypressData="selected-min-value">{{item?.start}}</span></div>
  <div class="selected-max" appCypressData="selected-max">Selected max: <span appCypressData="selected-max-value">{{item?.end}}</span></div>
</ng-template>
